/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --heading-font-family: InriaSans-Bold, sans-serif;
  --heading-font-size: 32px;
  --heading-line-height: normal;
  --heading-font-weight: 700;
  --heading-font-style: normal;

  /* Effects */
}
